:root{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    --text-primary: black;
    --bg-primary: #C6DABF;
    --bg-secondary: #88D498;
    --bg-tertiary:#1A936F;
    --bg-quatrinary:#114B5F;
    --transition-speed: 600ms;
    --greetingheight: calc(100vh - 4rem);
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#greeting{
    height: var(--greetingheight);
    width:100vw;
}

body{
    padding: 0;
    margin: 0;
    color:var(--text-primary);
    background-color: var(--bg-primary);
}

#name1{
    filter:grayscale(90%) opacity(0.5);
    font-size: 2rem;
    display: block;
    z-index: 1;
    color:var(--text-primary);
}

#name2{
    display: block;
    font-size: 7rem;
}

#name1, #name2{
    display: block;
    margin:0;
    text-align: center;
}

#name{
    position: relative;
    display: block;
}

#description{
    display: block;
    text-align: center;
    filter:grayscale(50%) opacity(0.7);
}

#name_descriptor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar{
    position:sticky;
    top:0;
    display: flex;
    justify-content: center;
    z-index: 1;
    margin: 2rem, 0rem;
    background-color: var(--bg-secondary);
    width:100vw;
}

.nav-item{
    width:100%;
}

.navbar-nav{
    align-items: center;
    color:black;
    list-style: none;
    padding:0;
    margin:0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-link{
    display:flex;
    align-items: center;
    height: 2rem;
    width: 4rem;
    color:var(--text-primary);
    text-decoration: none;
    filter:grayscale(50%) opacity(0.5);
    padding: 1rem;
    transition: var(--transition-speed);
}

.nav-link:hover{
    filter:grayscale(0%) opacity(1);
    width:5rem;
}

.link-text{
    display: none;
}

.nav-link svg{
    width: 2rem;
    fill: black;
    transition: var(--transition-speed);
}

.nav-link svg:hover{
    width:3rem;
}

li#projects svg:hover{
    width:100rem;
}

.nav-link{
    justify-content: center;
}
  
.fa-primary, .fa-secondary {
    transition: var(--transition-speed);
    fill: black;
}

.photo{
    border-radius: 5%;
    border: solid 3px var(--bg-quatrinary);

    width:400px;
    height:400px;
    margin:1rem;
}

#intro{
    display: block;
    text-align: justify;
    margin:2rem;
    width: 25rem;
}

#profile2{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#projects{
    flex-direction: column;
    padding:2rem;
}

#projects li{
    padding: 1rem;
    min-width: 16rem;
    max-width: 25rem;
}

iframe{
    width:100vw;
}

a:link, a:visited{
    text-decoration: none;
    color:white
}

a:hover{
    color:var(--bg-tertiary);
}

.blob{
    position:absolute;
    display: flex;
    justify-content: center;
    z-index: -1;
    top:0;
    left:0;
    fill: var(--bg-primary);
}

.blob-motion{
    position:absolute;
    height:var(--greetingheight);
    width:100vw;
    fill: var(--bg-tertiary);
}

.blob g{
    fill: var(--bg-secondary);
}

@media only screen and (max-width: 400px) {


    .nav-link{
        width: 1rem;
    }

    .nav-link svg{
        width: 1rem;
    }

    img{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 350px;
    }
}